*.cmt
*.cmti
*.o
*.cmo
*.cma
*.cmxs
*.opt
*.run
*.cmi
*.cmx
*.cmxa
*.annot
*.depends
*.cmxi
*.mllib
*.mldylib
*.mlpack
*.odocl
*.odocdir
*.docl
*.docdir
*.cmt
*.a

_build/
examples/_build/
*.native
myocamlbuild.ml
setup.data
setup.log
setup.ml
META
_tags
TAGS
*.omc
*.omakedb
.omakedb.lock
_tests

examples/auth_middleware
examples/exit_hook_example
examples/hello_world
examples/hello_world_basic
examples/hello_world_html
examples/middleware_ua
examples/read_json_body
examples/sample
examples/static_serve_override
examples/uppercase_middleware
lib_test/routes
*.merlin
*.install