name: CI

on: [push, pull_request]

jobs:
  build:
    name: Build and test

    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
        ocaml-version:
          - 4.11.1
          - 4.10.1
          - 4.09.1
          - 4.08.1

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      # - name: Retrieve opam cache
      #   uses: actions/cache@v2
      #   if: runner.os != 'Windows'
      #   id: cache-opam
      #   with:
      #     path: ~/.opam
      #     key: v1-${{ runner.os }}-opam-${{ matrix.ocaml-version }}-${{ hashFiles('*.opam.locked') }}
      #     restore-keys: |
      #       v1-${{ runner.os }}-opam-${{ matrix.ocaml-version }}-

      - name: Use OCaml ${{ matrix.ocaml-version }}
        uses: avsm/setup-ocaml@v1
        with:
          ocaml-version: ${{ matrix.ocaml-version }}

      - name: Print OCaml version
        run: opam exec -- ocaml --version

      - name: Install system dependencies
        if: runner.os == 'Windows'
        run: opam depext conf-pkg-config

      - name: Update opam repository
        if: steps.cache-opam.outputs.cache-hit != 'true'
        run: opam update

      - name: Install dependencies
        if: steps.cache-opam.outputs.cache-hit != 'true'
        run: |
          opam install . --deps-only --with-doc --with-test --locked --unlock-base
          opam install ocamlformat ppx_sexp_conv ppx_yojson_conv --skip-updates

      - name: Recover from an Opam broken state
        if: steps.cache-opam.outputs.cache-hit == 'true'
        run: opam upgrade --fixup

      - name: Build
        run: make build

      - name: Check formatting
        run: make format

      - name: Run tests
        run: make test

      - name: Build examples
        run: opam exec -- dune build @example
