name: Format

on:
  push:
    branches:
      - master

jobs:
  build:
    name: Format OCaml code

    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        ocaml-version:
          - 4.11.1

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Retrieve opam cache
        uses: actions/cache@v2
        if: runner.os != 'Windows'
        id: cache-opam
        with:
          path: ~/.opam
          key: v1-${{ runner.os }}-opam-${{ matrix.ocaml-version }}-
          restore-keys: |
            v1-${{ runner.os }}-opam-${{ matrix.ocaml-version }}-

      - name: Use OCaml ${{ matrix.ocaml-version }}
        uses: avsm/setup-ocaml@v1
        with:
          ocaml-version: ${{ matrix.ocaml-version }}

      - name: Install dependencies
        if: steps.cache-opam.outputs.cache-hit != 'true'
        run: opam install ocamlformat

      - name: Upgrade dependencies
        run: opam upgrade --fixup
        if: steps.cache-opam.outputs.cache-hit == 'true'

      - name: Format
        run: opam exec -- dune build @fmt --auto-promote || true

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: ocamlformat fixes
          title: 'style: run ocamlformat'
          body: This is an auto-generated PR with fixes by ocamlformat.
          labels: ocamlformat, automated pr
